:host(.left) {
  [part='panel'] {
    left: 0;
    transform: translateX(-100%);
  }
}

:host(.right){
  [part='panel'] {
    right: 0;
    transform: translateX(100%);
  }
}

:host(.active) {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  [part='panel'] {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
  }

  [part='background'] {
    transition: opacity .4s;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }
}

:host(.active.open) {
  pointer-events: all;

  [part='panel'] {
    transform: translateX(0%);
  }

  [part='background'] {
    opacity: 1;
  }
}
