:host(.active) {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  .slide {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    transition: transform .3s;
    transition-delay: .1s;

    &.left {
      left: 0;
      transform: translateX(-100%);
    }

    &.right {
      right: 0;
      transform: translateX(100%);
    }
  }

  .background {
    transition: opacity .4s;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    opacity: 0;

    &.darken {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

:host(.active.open) {
  pointer-events: all;

  .slide {
    transform: translateX(0%);
  }

  .background {
    opacity: 1;
  }
}
